{% extends 'base.html' %}

{% block title  %}
    <title>Read (All)</title>
{% endblock title %}

{% block content %}

    <h1>All Shows</h1>

    <table class="table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Network</td>
                <td>Release Date</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for show in shows %}
            <tr>
                <td>{{ show.id }}</td>
                <td>{{ show.title }}</td>
                <td>{{ show.network }}</td>
                <td>{{ show.release_date }}</td>
                <td> <a href="/shows/{{ show.id }}>">Show</a> | <a href="shows/{{ show.id }}/edit">Edit</a> | <a href="/delete/{{ show.id }}">Delete</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/shows/new">Add a New Show</a>

{% endblock content%}